body {
	background-color: #FAEDCD;
}





  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: #D4A373;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
}

.left h1 {
    font-size: 2.5rem;
    cursor: pointer;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.right ul li a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: rgb(22, 7, 36);
}

@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: rgb(22, 7, 36);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 1s;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

}







.testimonial-slider {
  background-color: #CCD5AE;
  padding: 3em 2em;
}
.testimonial-title {
  color: #FFF;
}
.testimonial-title h2 {
  padding-left: 0.2em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  height: 100%;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #FFF;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: 60%;
  transform: translateY(-50%);
}

@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (min-width: 768px) {
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
    position: absolute;
    left: 1em;
    top: 90%;
    transform: translateY(-50%);
  }
  .carousel-control-next {
    left: 5em;
  }
}








#calendar {
    max-width: 600px;
    margin: 40px auto;
    padding: 0 10px;
  } 





  




















#flexbox {
  box-sizing: border-box;
  margin: 0;
  background-color: #FAEDCD;
}

h1 {
  font-family: arial;
  font-size: 3em;
  text-align: center;
  margin: 25px;
  padding: 50px;
  background-color: #1d2d50;
  color: #fcdab7;
  overflow: hidden;
}

#flexbox {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  margin-top: 8px;
  filter: grayscale(70%);
}

.column:nth-child(even) {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

































body {
  font-family: "Raleway", sans-serif;
  background-color: #FAEDCD;
}
h1 {
  text-align: center;
  margin: 20px auto;
}
form {
  width: 70%;
  margin: auto;
}
fieldset {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 0 5px #333;
  background-color: #E9EDC9;
}
label {
  display: block;
  
  margin-bottom: 5px;
}
input[type="text"],input[type="email"],select{
  width: calc(100% - 20px);
  height: 20px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
button {
  width: 100%;
  text-align: center;
  margin: auto !important;
  height: 40px;
  border-radius: 10px;
  background-color: #283618;
}
































































